# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Editor / OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary Test Files
*.bin
temp_*/
test_env/
logs/

# Else
!.github/
!.gitignore

# Documentation
docs/
docs*/

# AI CLI
.kilo/

# Node Modules
node_modules/

# Python Cache
__pycache__/
.pytest_cache/
*.egg-info/

# MarkDown File
*.md
!README.md
